* {
  box-sizing: border-box;
  outline: none;
  font-family: 'PT Sans', sans-serif;
}

body, html {
  margin: 0;
  padding: 0;
}

Link {
  text-decoration: none;
  color: white
}
.app {
  position: relative;
  top: 10px;
  width: 700px;
  height: 600px;
  margin: auto;
  background: white
}

.header {
  display: flex;
  justify-content: space-around;
  height: 50px;
  background: #660066;
  color: white
}

.title {
  font-family: 'Sigmar One', cursive;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

hr {
  width: 30px;
  margin: 6px;
}

.menuIcon {
  position: relative;
  top: 12px;
  left: -40px
}

.menuIconImage {
  height: 45px;
  position: relative;
  top: -8px;
  left: 0px;
}

.addIcon {
  position: relative;
  top: -10px;
  right: -36px;
  font-size: 50px
}

.appbody {
  height: 430px;
  padding: auto;
  margin: auto;
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center
}

.threeLayers {
  margin: auto;
  color: red;
  position: relative;
  height: 120px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: space-around;
  border-top: 3px solid indigo;
  color: indigo;
  margin-top: 7px
}

.linkLightBG {
  text-decoration: none;
  color: black
}

.linkLightBG:hover {
  text-decoration: none;
  color: black
}

.linkDarkBG {
  text-decoration: none;
  color: white
}

.linkDarkBG:hover {
  text-decoration: none;
  color: white
}

.topPic {
  height: 100px;
  position: relative;
}

.bottomPic {
  height: 150px;
  position: relative
}

.shoesPic {
  height: 50px;
  position: relative
}

.weather {
  position: absolute;
  height: 30px;
  display: flex;
  align-items: center;
  top: 70px;
  left: 305px
}

.weatherIcon {
  position: relative;
  z-index: 1;
  width: 80px;

}

.weatherTemp {
  font-weight: bold;
  z-index: 4;
  position: relative;
  top: 5px;
  right: 55px
}

.imagePreview {
  width: 300px
}

.filterMenu {
  margin-top: 2px;
  font-size: 15px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

.arrowImage {
  width: 30px
}

.arrowImage:hover {
  width: 30px;
  cursor: pointer;
}

.backgroundImage {
  z-index: -11
}

.wearItButton {
  position: absolute;
  bottom: 105px;
  left: 300px;
}

.addIconImage {
  height: 30px;
  position: relative;
  top: -3px;
  left: 6px;
}

.typeIcon {
  margin-top: 5px;
  border-radius: 100% 100% 100% 100%;
  width: 40px;
  height: 40px;
  background-color: #660066
}

.typeIconImage {
  height: 30px;
  position: relative;
  top: 3px;
  left: 6px;
}

.colorIconImage {
  height: 30px;
  position: relative;
  top: 4px;
  left: 4px;
}

.timeIconImage {
  height: 30px;
  position: relative;
  top: 5px;
  left: 12px;
}

label {
  position: relative;
  left: -40px;
  font-weight: normal;
}

.checkbox {
  position: relative;
}

.checkLine {
  text-align: left;
  float: left;
  position: relative;
  left: 300px;
  width: 80px
}

.menuLine {
  width: 360px;
  position: relative;
  left: -10px
}

.category {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 7px;
}

.scrollarea {

}

.allSetButton {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  text-decoration: none
}

.red {
  color: red
}

.orange {
  color: orange
}

.yellow {
  color: yellow
}

.green {
  color: green
}

.blue {
  color: blue
}

.purple {
  color: purple
}

.white {
  color: lightgrey
}

.brown {
  color: brown
}

.black {
  color: black;
}

.grey {
  color: grey
}

.weatherMessage {
  position: relative;
  text-align: center;
  top: -20px;
  color: lightgrey
}
